[submodule "footer-assets"]
	path = footer-assets
	url = git@gitlab.dev:development/footer-assets.git
[submodule "cms-page-style-update"]
	path = cms-page-style-update
	url = git@gitlab.dev:development/cms-page-style-update.git
[submodule "new-green-pistachio"]
	path = new-green-pistachio
	url = git@gitlab.dev:development/new-green-pistachio.git
[submodule "magejsconfig"]
	path = magejsconfig
	url = git@gitlab.dev:development/magejsconfig.git
