<?xml version="1.0"?>
<!--
/**
 * @package     BlueAcorn\GreenPistachio
 * @version     0.1.0
 * @author      Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2015 Blue Acorn, Inc.
 */
-->
<config>
    <modules>
        <BlueAcorn_GreenPistachio>
            <version>0.1.0</version>
        </BlueAcorn_GreenPistachio>
    </modules>
    <global>
        <models>
            <blueacorn_greenpistachio>
                <class>BlueAcorn_GreenPistachio_Model</class>
                <resourceModel>blueacorn_greenpistachio_resource</resourceModel>
            </blueacorn_greenpistachio>
            <blueacorn_greenpistachio_resource>
                <class>BlueAcorn_GreenPistachio_Model_Resource</class>
            </blueacorn_greenpistachio_resource>
        </models>
        <blocks>
            <blueacorn_greenpistachio>
                <class>BlueAcorn_GreenPistachio_Block</class>
            </blueacorn_greenpistachio>
            <customer>
                <rewrite>
                    <account_navigation>BlueAcorn_GreenPistachio_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>BlueAcorn_GreenPistachio_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <blueacorn_greenpistachio>
                <class>BlueAcorn_GreenPistachio_Helper</class>
            </blueacorn_greenpistachio>
        </helpers>
        <resources>
            <blueacorn_greenpistachio_setup>
                <setup>
                    <module>BlueAcorn_GreenPistachio</module>
                </setup>
            </blueacorn_greenpistachio_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <blueacorn_greenpistachio>
                    <file>blueacorn/greenpistachio.xml</file>
                </blueacorn_greenpistachio>
            </updates>
        </layout>
        <jsconfig>
            <javascriptplugins>
                <modals>
                    <fancybox name="fancy_box"/>
                </modals>

                <fancybox_helpers>
                    <fancybox_buttons name="fancybox_buttons"/>
                    <fancybox_media name="fancybox_media"/>
                    <fancybox_thumbs name="fancybox_thumbs"/>
                </fancybox_helpers>

                <bxslidergroup>
                    <bxslider name="bxslider"/>
                    <bxsliderfitvids name="bxsliderfitvids"/>
                    <bxslidereasing name="bxslidereasing"/>
                </bxslidergroup>

                <sliders>
                    <flexslider name="flexslider"/>
                    <owl_two name="owl_two"/>
                </sliders>
                <ux>
                    <focuspoint name="focuspoint"/>
                    <headroom name="headroom"/>
                    <parallax name="parallax"/>
                    <scrollto name="scrollto"/>
                    <spinjs name="spinjs"/>
                </ux>
                <plugins>
                    <headjs name="headjs"/>
                    <responsiveimg name="responsiveimg"/>
                    <svginjector name="svginjector"/>
                </plugins>
            </javascriptplugins>
            <styleguide>
                <development>
                    <enable_development>
                        <type>boolean</type>
                    </enable_development>
                </development>
                <superselects>
                    <enable_superselects>
                        <type>boolean</type>
                    </enable_superselects>
                </superselects>
            </styleguide>
        </jsconfig>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <blueacorn_greenpistachio>
                    <file>blueacorn/greenpistachio.xml</file>
                </blueacorn_greenpistachio>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <styleguide>
            <superselects>
                <enable_superselects>1</enable_superselects>
            </superselects>
        </styleguide>
    </default>
</config>
