 //
 // Style Sheet for Super Selects CMS Page
 //
 // @package     Blue Acorn / Super Selects
 // @version     1.0.0
 // @author      Blue Acorn, Inc. <code@blueacorn.com>
 // @copyright   Copyright © 2015 Blue Acorn, Inc.
 //

@import "blueacorn/grid";
@import "blueacorn/development";
@import "blueacorn/custom-forms";
@import "blueacorn/super-selects";

.cms-page-view.cms-superselects {
    .sg-form {
        li { font-style: normal; }
        .form-list {
            list-style-type: none;
            > li {
                @include g-all();
                margin-left: 0;
            }
            .field {
                float: left;
                @include g-item(max, $bp-medium + 1, 2, 980, 19.5);
                @include bp(max-width, $bp-medium) {
                    width: 100%;
                    clear: both;
                    margin-left: 0;
                }
            }
        }
    }
}
