<?xml version="1.0"?>
<!--
/**
* @package     BlueAcorn\JavascriptPlugins
* @version     0.2.0
* @author      Blue Acorn, Inc. <code@blueacorn.com>
* @copyright   Copyright © 2015 Blue Acorn, Inc.
*/
-->
<config>

    <modules>
        <BlueAcorn_JavascriptPlugins>
            <version>0.2.0</version>
        </BlueAcorn_JavascriptPlugins>
    </modules>

    <frontend>
        <layout>
            <updates>
                <blueacorn_javascriptplugins>
                    <file>blueacorn/javascriptplugins.xml</file>
                </blueacorn_javascriptplugins>
            </updates>
        </layout>

        <jsconfig>
            <javascriptplugins>
                <modals>
                    <fancybox name="fancy_box" />
                </modals>

                <fancybox_helpers>
                    <fancybox_buttons name="fancybox_buttons" />
                    <fancybox_media name="fancybox_media" />
                    <fancybox_thumbs name="fancybox_thumbs" />
                </fancybox_helpers>

                <bxslidergroup>
                    <bxslider name="bxslider" />
                    <bxsliderfitvids name="bxsliderfitvids" />
                    <bxslidereasing name="bxslidereasing" />
                </bxslidergroup>

                <sliders>
                    <flexslider name="flexslider" />
                    <owl name="owl" />
                    <owl_two name="owl_two" />
                </sliders>
                <ux>
                    <headroom name="headroom" />
                    <parallax name="parallax" />
                    <scrollto name="scrollto" />
                    <spinjs name="spinjs" />
                </ux>
                <plugins>
                    <selectivizr name="selectivizr" />
                    <placeholderjs name="placeholderjs" />
                    <svginjector name="svginjector" />
                    <html5shiv name="html5shiv" />
                    <responsiveimg name="responsiveimg" />
                </plugins>
            </javascriptplugins>
        </jsconfig>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <blueacorn_javascriptplugins>
                    <file>blueacorn/javascriptplugins.xml</file>
                </blueacorn_javascriptplugins>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <helpers>
            <javascriptplugins>
                <class>BlueAcorn_JavascriptPlugins_Helper</class>
            </javascriptplugins>
        </helpers>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <javascriptplugins>
                                            <title>Blue Acorn Core Tab Settings</title>
                                        </javascriptplugins>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>