<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_SuperSelects>
            <version>1.0.0</version>
        </BlueAcorn_SuperSelects>
    </modules>
    <global>
        <resources>
            <blueacorn_superselects_setup>
                <setup>
                    <module>BlueAcorn_SuperSelects</module>
                </setup>
            </blueacorn_superselects_setup>
        </resources>
    </global>
</config>