@mixin custom-inputs($status: 'default') {
    @if $status == 'debug' {
        position: relative;
        top: 0;
        left: 0;
        z-index: 999;
    } @else {
        position: relative;
        left: -999em;
    }
}

.fields {
    clear: both;
    margin-left: 0;
    .field label {
        float: left;
        width: 100%;
    }
}

.radio:not(.no-style), .checkbox:not(.no-style) {
    @include custom-inputs();
    & + label {
        position: relative;
        line-height: 20px;
        cursor: pointer;
        padding: 0 0 0 30px !important;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background-color: $white;
            border: 1px solid $c-input-border;
            text-align: center;
            line-height: 20px;
            font-size: 10px;
            box-shadow: inset 1px 1px 0 rgba(255,255,255,.75);
            border-radius: 2px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(0) translateX(0) translateY(0);
            opacity: 0;
            width: 20px;
            height: 20px;
            background-color: $brand-primary;
            z-index: 1;
            transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            border-radius: 2px;
        }
    }
    &:checked + label {
        &:after {
            opacity: 1;
            transform: scale(1) translateX(0) translateY(0);
        }
    }
    &:disabled + label {
        opacity: .5;
        &:before { background-color: darken($white,4%); }
        &:after { background-color: $c-input-border; }
    }
}

.radio:not(.no-style) {
    & + label {
        &:before, &:after {
            border-radius: 50%;
        }
    }
}

.checkbox:not(.no-style) {
    & + label {
        &:after {
            text-align: center;
            content: '✓';
            color: $white;
        }
    }
}
