//
// Styles for Super Select Custom Form Elements for
// Highly Stylized Select Elements with Custom
// Functionality
//
// @package     BlueAcorn/SuperSelects
// @version     1.0.0.
// @author      Blue Acorn <code@blueacorn.com>, Greg Harvell <greg@blueacorn.com>
// @copyright   Copyright © 2015 Blue Acorn, Inc.
//

$select-height-default: 44px;
$select-border-default: 1px;
$select-border-color-default: #E6E6E6;
$select-border-color-error: #E6B8B8;
$select-lineheight-default: #{($select-height-default - ($select-border-default*2))};
$select-color-default: #737480;
$select-color-error:  #996B6B;
$select-bg-default: #8AB8E6;
$select-bg-error: #E68A8A;
$select-easing-default: cubic-bezier(0.215, 0.61, 0.355, 1);
$select-sprite-image: '../images/blueacorn/super-selects/super-selects-sprite.png';
$select-sprite-image2x: '../images/blueacorn/super-selects/super-selects-sprite@2x.png';
$select-sprite-width: 39px;
$select-sprite-height: 269px;
$select-animation-time-default: 0.3s;

.input-box.ba-select-container {
    padding-top: 0;
}

.ba-select-container * {
    -webkit-font-smoothing: antialiased;
}

.ba-select-input {
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    visibility: hidden;
}

.ba-select-box {
    position: relative;
    &.open {
        .ba-options { display: block; }
        &.ba-over {
            .ba-shiv {
                box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            }
        }
    }
}

.ba-select {
    display: inline-block;
    width: 100%;
    &.disabled {
        @include opacity(.75);
    }
}

.ba-shiv {
    border: 1px solid $select-border-color-default;
    border-radius: 2px;
    color: $select-color-default;
    background: $white;
    cursor: pointer;
    float: left;
    font: 400 1em/#{$select-lineheight-default} $f-stack-default;
    height: 44px;
    padding: 0 40px 0 10px;
    position: relative;
    width: 100%;
    .ba-shiv-content {
        color: $select-color-default;
        display: inline-block;
        font: 400 1em/#{$select-lineheight-default} $f-stack-default;
        height: 100%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ba-arrow {
        @include retina-image($select-sprite-image, $select-sprite-image2x, $select-sprite-width, $select-sprite-height);
        width: 10px;
        height: 6px;
        display: block;
        right: 20px;
        top: 50%;
        margin-top: -3px;
        position: absolute;
    }
}

.ba-options {
    background: $white;
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    padding: 0;
    border-radius: 2px;
    @include border-top-radius(0);
    border: 1px solid $select-border-color-default;
    border-top: 0;
    cursor: pointer !important;
    ul {
        list-style: none;
        margin: 0;
        width: 100%;
        float: left;
        li {
            padding: 0 10px;
            margin: 0;
            float: left;
            width: 100%;
            clear: both;
            cursor: pointer;
            font: 400 1em/30px $f-stack-default !important;
            color: $black-80;
            white-space: nowrap;
            &:hover, &:focus {
                color: $brand-primary;
                outline: none;
            }
            span {
                font-style: normal;
            }
        }
    }
    .option-selected, .option-selected:hover, .option-selected:focus {
        color: $white;
        font-weight: bold;
        background: $select-bg-default;
        text-shadow: 0 4px 4px rgba(53,65,76,0.15), 0 2px 2px rgba(53,65,76,0.10);
    }
}

.ba-select-close {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 9998;
}

.ba-over {
    .ba-options {
        display: block;
        visibility: hidden;
        background: none;
        box-shadow: 0 0 0 rgba(255,255,255,0);
        border: 0;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: scale3d(1,0,1);
            transform-origin: 50% 0%;
            @include gradient-vertical($white, darken($white, 2%));
            border-radius: 5px;
            box-shadow: 0 1px 4px rgba(0,0,0,.25);
            border: 1px solid $white;
            transition: transform 0.4s;
        }
        ul li {
            opacity: 0;
            transition: opacity 0.4s;
            transition-delay: 0.2s;
            &:first-child {
                opacity: 1;
            }
        }
    }
    &.open {
        .ba-options {
            visibility: visible;
            ul li { opacity: 1; }
            &:before {
                transform: scale3d(1,1,1);
                z-index: -1;
            }
        }
    }
}

.ba-select-box {
    .ba-options {
        display: block;
        float: left;
        min-width: 0;
        width: 100%;
        position: absolute;
        left: auto;
        opacity: 0;
        visibility: hidden;
        top: 100%;
        transform: scale(1,0);
        transform-origin: left top;
        transition: transform $select-animation-time-default $select-easing-default;
    }
    .ba-arrow {
        transition: transform $select-animation-time-default $select-easing-default;
    }
    &.open {
        .ba-arrow {
            transform: rotate(180deg);
        }
        .ba-options {
            opacity: 1;
            visibility: visible;
            transform: scale(1,1);
        }
        .ba-shiv {
            border-bottom: 1px solid $white;
            @include border-bottom-radius(0);
            &:after {
                content: '';
                position: absolute;
                display: block;
                bottom: -1px;
                left: 10px;
                width: calc(100% - 20px);
                height: 1px;
                background: $select-border-color-default;
            }
        }
        .ba-shiv-content { color: $select-color-default; }
    }
}

.ba-thumbnail {
    .ba-shiv {
        height: 52px;
        padding-left: 10px;
        .ba-arrow:after {
            height: 52px;
            line-height: 52px;
        }
    }

    .ba-img-span, .ba-opt-content, .ba-shiv-content {
        display: inline-block;
        float: left;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ba-img-span {
        width: 50px;
        background-position: 50% 50%;
        background-size: 100% auto;
        border-radius: 2px;
        & + .ba-shiv-content, & + .ba-opt-content {
            max-width: calc(100% - 50px);
        }
    }
    .ba-opt-content, .ba-shiv-content {
        padding-left: 10px;
    }
    .ba-options ul li {
        margin-bottom: 5px;
    }
}

.ba-overlay {
    .ba-options {
        top: 50%;
        background: none;
        display: block;
        visibility: hidden;
        overflow: hidden;
        transform: scale3d(1,0,1);
        transform-origin: 50% 50%;
        transition: transform 0.4s;
        background: $white;
        border: 1px solid darken($select-border-color-default, 10%);
        border-radius: 2px;
    }
    &.open .ba-options {
        visibility: visible;
        transform: scale3d(1,1,1);
        &:before {
            transform: scale3d(1,1,1);
            z-index: -1;
        }
    }
    & + .ba-select-close {
        background: rgba(0,0,0,0.15);
    }
}

.ba-shortbuttons.active {
    .ba-shiv { display: none; }
    .ba-options {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        position: relative;
        border: 0;
        background: none;
        padding: 0;
        z-index: auto;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            li {
                flex: 1 1 25%;
                border: 1px solid $select-border-color-default;
                height: $select-height-default;
                padding: 0 10px;
                margin: 0 10px 10px 0;
                border-radius: 2px;
                span {
                    float: left;
                    width: 100%;
                    height: $select-height-default - 2;
                    line-height: $select-height-default - 2;
                    text-align: center;
                }
                &.option-selected, &.option-selected:hover, &.option-selected:focus  {
                    border-color: $select-bg-default;
                }
            }
        }
    }

}

.ba-fullscreen {
    .ba-options {
        display: block;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(255,255,255,0);
        background: rgba(255,255,255,0.9);
        visibility: hidden;
        opacity: 0;
        transform: scale(.9);
        transform-origin: 50% 50%;
        transition: transform $select-animation-time-default, opacity $select-animation-time-default, visibility $select-animation-time-default;
        ul {
            position: absolute;
            top: 50%;
            width: 100%;
            li {
                opacity: 0;
                transition: opacity $select-animation-time-default;
            }
            li {
                span {
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 20px;
                    color: $brand-primary;
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                    &:hover {
                        border-bottom: 2px solid $black;
                        color: $black;
                    }
                }
                &.option-selected {
                    background: none;
                    text-shadow: 0 0 0 rgba(0,0,0,0);
                    span {
                        border-bottom: 2px solid $select-bg-default;
                        &:hover {
                            color: $select-bg-default;
                        }
                    }
                }
            }
        }
    }
    &.open .ba-options {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition: transform $select-animation-time-default, opacity $select-animation-time-default;
        li {
            opacity: 1;
        }
    }
    & + .ba-select-close {
        position: fixed;
        left: auto;
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
        z-index: 9999;
        cursor: pointer;
        &:after {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 39px;
            height: 39px;
            content: "";
            background-position: 0 -84px;
            @include retina-image($select-sprite-image, $select-sprite-image2x, $select-sprite-width, $select-sprite-height);

        }
    }
}

.ba-fullthumb {
    .ba-shiv {
        .ba-color-name, .ba-shiv-content {
            display: inline-block;
        }
        .ba-color-box {
            width: 32px;
            height: 32px;
            border-radius: 2px;
            position: relative;
            top: 5px;
            display: none;
            float: left;
        }
    }
    &.setup {
        .ba-shiv {
            .ba-color-box { display: inline-block; }
            .ba-shiv-content {
                margin-left: 5px;
            }
        }
    }
    .ba-options {
        display: block;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(255,255,255,0);
        background: rgba(255,255,255,0.9);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s, visibility 0s 0.2s;
        ul {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            flex-flow: row wrap;
            align-content: stretch;
            li {
                white-space: normal;
                flex: 1;
                min-width: 24%;
                min-height: 24%;
                margin: 0.5%;
                position: relative;
                border-radius: 2px;
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 32px;
                    line-height: 40px;
                    color: $brand-primary;
                    text-shadow: 0 4px 4px rgba(0,0,0,.1),
                                 0 8px 8px rgba(0,0,0,.1),
                                 0 16px 16px rgba(0,0,0,.1),
                                 0 32px 32px rgba(0,0,0,.15),
                                 0 64px 64px rgba(0,0,0,.15);

                }
                &:hover, &:focus {
                    .ba-color-box, .ba-img-span {
                        border: 4px solid $select-bg-default;
                    }
                }
            }
        }
        .option-selected .ba-color-box, .option-selected:hover .ba-color-box, .option-selected:focus .ba-color-box {
            &:before {
                content: "✓";
                font: normal 32px/38px $f-stack-icon;
                color: $white;
                width: 100%;
                height: 32px;
                text-align: center;
                position: absolute;
                left: 0;
                top: 25%;
            }
        }
        .ba-img-span, .ba-color-box {
            display: inline-block;
            width: 100%;
            height: 100%;
            max-width: 100%;
            min-height: 100px;
            background-position: 50% 50%;
            background-size: 100% auto;
            border-radius: 2px;
        }
        .ba-opt-content {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            margin-top: -20px;
            color: $white;
        }
    }
    &.open .ba-options {
        visibility: visible;
        opacity: 1;
        li {
            transform: scale3d(1,1,1);
            opacity: 1;
        }
    }
    &.hide-first .ba-options {
        ul {
            li:first-child {
                display: none;
            }
        }
    }
}

.ba-color-name {
    width: 100%;
    font-size: 16px;
}

.ba-search {
    .ba-search-container {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        height: 54px;
        width: 100%;
        padding: 0 10px 5px;
        background: $white;
        border: 1px solid $select-border-color-default;
        border-top: 0;
        border-bottom: 0;
        z-index: 9999;
        &:after {
            width: 13px;
            height: 13px;
            content: '';
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -12px;
            @include retina-image($select-sprite-image, $select-sprite-image2x, $select-sprite-width, $select-sprite-height);
            background-position: 0 -39px;
        }
    }
    .ba-search-field {
        width: 100%;
        height: 44px;
        border: 1px solid lighten($select-border-color-default, 3%);
        border-radius: 2px;
        padding: 0 10px;
    }
    &.open {
        .ba-shiv:after { display: none; }
        .ba-options {
            top: calc(100% + 54px);
        }
        .ba-search-container {
            display: block;
        }
    }
}

.validation-error {
    .ba-shiv, .ba-options {
        border-color: $select-border-color-error;
    }

    .open .ba-shiv:after {
        background: $select-border-color-error;
    }

    .ba-shiv-content, .ba-opt-content, .open .ba-shiv-content {
        color: $select-color-error;
    }

    .ba-arrow {
        background-position: 0 -146px;
    }

    .option-selected, .option-selected:hover, .option-selected:focus  {
        background: $select-bg-error;
        .ba-opt-content { color: $white; }
    }
}

html.touch.resp-mobile, html.touch.resp-tablet {
    .ba-select-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .ba-select-input {
        float: left;
        clear: both;
        width: 100%;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        display: block;
        cursor: pointer;
        visibility: visible;
        @if $mq-support == true {
            -webkit-appearance: menulist-button;
        }
        height: $select-height-default;
        opacity: 0;
        margin: 0;
    }
}

.ba-select-container.sm {
    height: 28px;
    .ba-shiv {
        height: 28px;
        padding: 0 30px 0 10px;
        font: 400 1em/26px $f-stack-default;
    }
    .ba-shiv-content {
        font: 400 1em/26px $f-stack-default;
    }
    .ba-arrow {
        right: 10px;
    }
    .ba-arrow:after {
        font-size: 12px;
        width: 24px;
        height: 24px;
        line-height: 27px;
    }
    .ba-options ul li {
        margin: 0;
        padding: 0 10px;
        font: 400 1em/24px $f-stack-default;
    }
}
